@charset "UTF-8";
/* SIDEBAR */

// Prefixes and objects:
// .sidebar-

.modulbar-navList {
  display:flex;
  flex-direction: column;
}

.modulbar-navBtn {
  user-select: none;
  border:0;
  width: 100%;
  position: relative;
  border-bottom: 1px dotted #cccccc;
  border-right: 1px solid #ccc;
  height: auto;
  background-color: #f7f7f7;
  background: -moz-linear-gradient(top, #f2f2f2, #f7f7f7);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f7f7f7));
  padding: 12px 13px;
  transition: all 0.3s ease;
}

.modulbar-navBtn-vSub {
  background-color: #d6d6d9;
  background: -moz-linear-gradient(top, #d0d0d3, #d6d6d9);
  background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d3), to(#d6d6d9));
}

.modulbar-navBtn:hover {
  background: #fff;
  text-decoration: none;
}
.modulbar-navImg {
  width: 32px;
  height: 32px;
  float: left;
}
.modulbar-navName {
  float: left;
  letter-spacing: 1px;
  margin-left: 15px;
  line-height: 32px;
  text-shadow: 0px 1px 1px #fff;
  min-width: 20%;
  max-width:60%;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modulbar-navImg-vSub,
.modulbar-navImg-vSubSub {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 16px;
}

.modulbar-navName-vSub,
.modulbar-navName-vSubSub {
  float: left;
  letter-spacing: 1px;
  margin-left: 15px;
  line-height: 16px;
  text-shadow: 0px 1px 1px #fff;
  font-size: .8em;
  text-shadow: none;
  color: #666;
}

.modulbar-navBtn-vSub,
.modulbar-navBtn-vSubSub {
  background-color: #e9e9e9;
  background: -moz-linear-gradient(top, #e4e4e4, #e9e9e9);
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#e9e9e9));
}

.modulbar-navList-vSubSub {
  background-color: #dbdbdc;
  background: -moz-linear-gradient(top, #d5d5d7, #dbdbdc);
  background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d7), to(#dbdbdc));
  border-bottom: 1px dotted #bbb;
}

.modulbar-navImg-vSubSub {
    margin-left: 44px;
}

.modullist ul button {
  margin-top: -32px;
  position: relative;
  float: right;
  margin-right: 10px;
}
.modullist ul ul button {
    /*margin-top: -27px;*/
}
.modullist ul button.closebtn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width:22px;
  padding: 9px 2px 11px;
  line-height: 0;
  font-size: .7em;
  border: 1px solid @mainColor;
  background-color:darken(@mainColor,15%);
  background:-moz-linear-gradient(top, @mainColor, darken(@mainColor,15%)); /* Firefox */
  background:-webkit-gradient(linear, left top, left bottom, from(@mainColor), to(darken(@mainColor,15%))); /* Safari, Chrome */
  color: transparent;
  letter-spacing: -1em;
  overflow: hidden;
}
.modullist ul button.closebtn:before {
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: left;
  margin-top: -7px;
  background-image: url(icons/vi_actions_sprite_white.svg);
  background-repeat: no-repeat;
  background-position: 0px -64px;
}
.modullist ul button.closebtn:hover {
  overflow: visible;
  min-width: 90px;
  letter-spacing: normal;
  color: #eee;
}
.modullist li.is_active a {background: lighten(@mainColor,10%);}
.modullist li.is_active h3 {
  color: #fff;
  text-shadow: none;
}


.menu-list {
  list-style: none;
  .shd; // default shadow class.
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  .mq-min(@breakMedium, {font-size: .9rem;})
}

.menu-item {
  &.is-accordion > a:after {
    content: '';
    float:right;
    height: 1em;
    width: 1em;
    margin: 4px -5px 0 0;
    vertical-align: text-top;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url(../icons/arrowhead-left.svg);
    transition: all .7s ease;
    transition-delay: 1s;
  }
  &.is-accordion:hover > a:after {
    transform: rotate(-90deg);
    transition-delay: 0s;
  }
  &.is-accordion > .menu-vSub > .menu-item {
    transition: all .7s ease;
    transition-delay: 2s;
    max-height:0;
  }
  &.is-accordion:hover > .menu-vSub > .menu-item {
    max-height:450px;
    transition-delay: 0s;
  }
}

.menu-vSub {
  box-shadow: none;
  margin: 0;
  overflow: hidden;
  a.menu-link {
    padding-left: 32px;
    color: contrast(darken(@menuBackgroundColor,5%), @textColor, @invTextColor);
    background-color: darken(@menuBackgroundColor,5%);
    border-bottom-style: dotted;
  }
  .menu-item:last-of-type a.menu-link {border-bottom-style: solid;}
  .menu-item:first-of-type a.menu-link {border-top: 0;}
  .is-accordion > & {max-height:0; min-height: 0; transition: all .3s ease; transition-delay: 2s;}
  .is-accordion:hover > & {max-height:450px; min-height:45px; transition-delay: 0s;}
}

.menu-vSub .menu-vSub {
  a.menu-link {
    padding-left: 44px;
    color: contrast(darken(@menuBackgroundColor,10%), @textColor, @invTextColor);
    background-color: darken(@menuBackgroundColor,10%);
    border-bottom-style: dotted;
  }
  .menu-item:last-of-type a.menu-link {border-bottom-style: solid;}
  .menu-item:first-of-type a.menu-link {border-top: 0;}
  a.menu-link:hover {
    color: contrast(darken(@menuBackgroundColor,15%), @textColor, @invTextColor);
    background-color: darken(@menuBackgroundColor,15%);
  }
}

a.menu-link {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  color: contrast(@menuBackgroundColor, @textColor, @invTextColor);
  background-color: @menuBackgroundColor;
  border: 1px solid darken(@menuBackgroundColor,15%);
  border-top-width: 0;
  transition: all .3s ease;
  width: 100%;
  height: 100%;

  .menu-item:first-of-type & {
    border-top-width: 1px;
  }
  &:hover {
    background-color: lighten(@menuBackgroundColor,5%);
  }
  &.is-primary {
    color: contrast(@menuPrimaryColor, @textColor, @invTextColor);
    background-color: @menuPrimaryColor;
  }
  &.is-active {
    color: contrast(@menuActiveColor, @textColor, @invTextColor);
    background-color: @menuActiveColor;
  }
  &.is-primary:hover,
  &.is-active:hover {
    background-color: lighten(@menuActiveColor,5%);
  }
  &.is-busy,
  &.is-loading,
  &[aria-busy=true] {
    cursor: progress;
    & .single-spinner {
      margin-top: 0;
    }
  }
  &.has-icon:before {
    content: '';
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    margin: 4px 10px 0 -5px;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: inherit;
    background-blend-mode: multiply;
    //set background-image via icon.less
  }
  .icon {margin: 4px 7px 0 -5px;}
}

.menu-vFixed {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  max-width: 250px;
}

.menu-vRow {
  flex-direction: row;
  .menu-item {
    a.menu-link {
      border-width: 1px;
    }
    &:not(:last-child) a.menu-link {
      border-right-width: 0;
    }
  }
}
